body {
  margin: 0;
  padding: 0;
  background-color: hsl(217, 29%, 80%);
  font-family: Arial, sans-serif;
}
#intro {
  margin: auto;
  width: 80%;
}
#blog > h1,
.title {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

.article {
  margin: auto;
  width: 50%;
}
.article img {
  display: block;
  margin: 1rem auto 1rem auto;
}
.title {
  letter-spacing: 0.4rem;
  font-weight: bold;
}
.date {
  font-size: 0.8rem;
  text-align: center;
}
